body {
  font-family: Helvetica, Arial, "sans-serif";
  color: white;
  background-color: black;
}

h1 {
  font-size: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: lighter;
  color: #ffcc13;
}

h2 {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: lighter;
  color: #ffcc13;
}

h3 {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: lighter;
  color: #ffcc13;
}

button {
  background-color: dimgray;
  border-radius: 5px;
  padding: 10px;
  color: #ffcc13;
}

/* unvisited link */
a:link {
  color: #ffcc13;
}

/* visited link */
a:visited {
  color: dimgray;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: blue;
}

.inputLabel {
  font-size: 14px;
  font-weight: bold;
}

input.inputField {
  padding: 5px;
  border: 1px solid rgb(25, 135, 238);
}

div.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

#primary1 {
  background-color: black;
  border:1px solid white;
}

#primary2 {
  background-color: white;
}

#primary3 {
  background-color: #ffcc13;
}

#primary4 {
  background-color: dimgray;
}

.warning {
  background-color: rgb(255, 222  , 0);
  font-weight: bold;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.Call_to_Action {
  background-color: rgb(212, 17, 17);
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: rgb(25, 135, 238);
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

svg.svg-inline--fa {
  color: white;
}

.spacer {
  margin-top: 25px;
}

#footer {
  border-top: 1px solid #dddddd;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-full{
  width: inherit;
  position: relative;
  height: 100px;
  color: #dddddd;
  background-color: #ffcc13;
  margin-top: 10px;
 }